fastapi==0.118.0
uvicorn[standard]==0.37.0
gunicorn==23.0.0
sqlalchemy==2.0.43
psycopg[binary]==3.2.10
python-multipart==0.0.20
pydantic-settings==2.10.1
PyJWT==2.10.1
passlib[bcrypt]==1.7.4
scikit-learn==1.7.2
numpy==2.3.3
pandas==2.3.3
scapy==2.6.1
python-dotenv==1.1.1
reportlab==4.4.4
